@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';

@layer components {
  .navbar {
    @apply 
      columns-3
      max-w-full 
      prose 
      bg-black 
      px-60 
      py-2 
      align-middle;
  }

  .navbar-button {
    @apply 
      bg-gray-100 px-4
      rounded 
      hover:bg-gray-300 
      focus:bg-gray-300
      no-underline;
  }

  .navbar-link-to {
    @apply
      bg-gray-100 
      px-4 py-2
      max-h-6
      rounded 
      hover:bg-gray-300 
      no-underline;
  }

  .dropdown-button {
    @apply
      inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white 
      px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 
      ring-inset ring-gray-300 hover:bg-gray-50
      cursor-pointer border-none
  }

  .dropdown-menu {
    @apply
      absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y 
      divide-gray-100 rounded-md bg-white shadow-lg ring-1 
      ring-black ring-opacity-5 focus:outline-none
  }
  .dropdown-item {
    @apply
      text-gray-700 
      block px-4 py-1 text-sm
      hover:bg-gray-100
      no-underline
      text-right
  }
  
  .page-title {
    @apply py-2 px-1 mx-auto prose align-middle;
  }

  .content {
    @apply py-2 px-1 mx-auto prose align-middle;
  }
}
